@model mvcOne.ViewModel.CustomerFormViewModel
@{
    ViewBag.Title = "CustomerForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add New Customer</h2>
@using (Html.BeginForm("Save","Customer"))
{
    <div class="form-group">
        @Html.LabelFor(c => c.Customer.Name)
        @Html.TextBoxFor(c => c.Customer.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(c=>c.Customer.Name)
        </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Customer.BirthDate)
        @Html.TextBoxFor(c => c.Customer.BirthDate,"{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(c=>c.Customer.BirthDate)
      </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Customer.MembershipTypeId)
        @Html.DropDownListFor(c => c.Customer.MembershipTypeId, new SelectList(Model.MembershipType, "Id", "MembershipTypeNmae"), "SelectMembershipType", new { @class = "form-control" })
        @Html.ValidationMessageFor(c=>c.Customer.MembershipTypeId)    
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsLatter) Subscribe To News Latter
        </label>
    </div>
    @Html.HiddenFor(m=>m.Customer.Id)
    <button class="btn btn-lg btn-primary" type="submit">Save</button>
}

